<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #000000;">
    <div class="container-fluid ">
     
    
      <div>
      <form class="d-flex" *ngIf="checkIfLogin()==false">>
        
        <button class="btn btn-warning" type="submit" routerLink="/login">
          <h3> Giriş Yap </h3> 
        </button>
  
      </form>
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0"
        *ngIf="checkIfLogin()==true">
      >
        <li class="nav-item dropdown right">
          <a
            class="nav-link dropdown-toggle text-light"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <h4>{{ user?.firstName }}
            {{ user?.lastName }}   </h4>
            
          </a>
          <!-- {{ user?.lastName }}   </h4> -->

          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
          >
            <li class="colorl">
              <a class="dropdown-item" routerLink="/profile"
                ><i class="bi bi-person-circle"></i> <h3> Profil </h3> </a
              >
            </li>
            <li>
              <a class="dropdown-item bg-danger text-white" (click)="logOut()"
                ><i class="bi bi-power "></i> <h2> Çıkış Yap  </h2> </a
              >
            </li>
          </ul>
        </li>
      </ul>
      
          </div>
  

      <a class="navbar-brand mx-5 " href="#">
      
        <h5 class="text-center"></h5> 
         <h4>  Araç Kiralama Projesi </h4>
      </a>
      <div class="container">  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="cars"> <h5> Tüm  Araçlar </h5> </a>    
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Araç Kirala 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Lüks Araçlar</a></li>
              <li><a class="dropdown-item" href="#">Geniş Araçlar </a></li>
              <li><a class="dropdown-item" href="#">Arazi Araçlar </a></li>
              <li><a class="dropdown-item" href="#">Orta Sekment Araçlar </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Kiraladığım Araçlar</a></li>    
            </ul>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="" target="_blank" > Şubelerimiz </a>
          </li>
        </ul>
        
        
       

        <form class="d-flex">
         
      
         <!--  <button  routerLink="/register"  class="btn btn-sm btn-outline-primary" type="button">  <h5> Kayıt Ol </h5>  </button> -->
       
          

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <button  routerLink="/cars/add"  class="btn btn-success" type="button"> <h4>  Ekle  </h4>   </button> 
            </a>
            <ul class="dropdown-menu" style="background-color: black;" aria-labelledby="navbarDropdown">
              <button  routerLink="/add/car"  class="btn btn-outline-success" type="button"> <h5>  + Araç  Ekle ; </h5>   </button> 
             
              <button  routerLink="/add/color"  class="btn btn-outline-success" type="button"> <h5>  + Renk  Ekle ;</h5>   </button>
              <button  routerLink="/add/brand"  class="btn btn-outline-success" type="button"> <h5>+ Marka  Ekle </h5>   </button> 
         
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Fatih Çayır</a></li>    
            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <button  routerLink="/list/cars"  class="btn btn-primary" type="button"> <h4>  Güncelle  /  Sil   </h4>   </button> 
            </a>
            <ul class="dropdown-menu" style="background-color: black;" aria-labelledby="navbarDropdown">
              <button  routerLink="/update/cars"  class="btn btn-outline-primary" type="button"> <h5> + Araç   Güncelle ;   </h5>   </button> 
            
              <button  routerLink="/update/colors"  class="btn btn-outline-primary" type="button"> <h5> + Renk   Güncelle ;   </h5>   </button> 
              <button  routerLink="/update/brands"  class="btn btn-outline-primary" type="button"> <h5> + Marka  Güncelle  </h5>   </button> 
         
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Fatih Çayır</a></li>    
            </ul>
          </li>
        
        </form>
      </div>
      </div>
    </div>
   
  </nav>