<div class="row">
  <div class="col-md-2" >
    <app-filter></app-filter>
  </div>

<div class="col-md-10">
  <label for="filterText" class="form-label">Araba Arayınız</label>
  <input
    [(ngModel)]="filterText"
    type="string"
    class="form-control"
    id="filterText"
    placeholder="Arama Yapınız"
  />
</div>

<div *ngIf="filterText.length !==0">{{filterText}} aradiniz</div>

<div class="row">
  
  <div class="card" style="width: 18rem" *ngFor="let car of carDetails | filterPipe:filterText">
    <div>
      <img
        [src]="
          car.imagePath.length !== 0 ? imageUrl + car.imagePath[0] : imageUrl
        "
        class="card-img-top"
        alt="..."
      />
    </div>
    
    <div class="card-body">
      <h5 class="card-title">{{ car.brandName }}</h5>
      <p class="card-text">
        Renk: {{ car.colorName | uppercase }} <br />
        Model yılı: {{ car.modelYear }} <br />
        Fiyat: {{ car.dailyPrice }}₺ <br />
        Model Adi:{{ car.brandName }} {{ car.description }}
      </p>

      <a routerLink="/cars/car/{{ car.carId }}" class="btn btn-primary"
        >Detaylar</a
      >
      <button class="btn btn-success">Kirala</button>
    </div>
    
  </div>
  
</div>
</div>